# Node app uses these for DB connection
DB_HOST=db_host
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=incidents

# Docker Postgres image uses these to initialize
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=incidents
